<div id="edu-list">
  <Organisms::Edulistitem
    @name="Prague University of Economics and Business"
    @startDate="2021"
    @endDate="2024"
  >
    <p class="mb-0">
      Two and a half year study of information systems and technologies with
      specialization in Development of information system.
    </p>
  </Organisms::Edulistitem>

  <Atoms::Separator />

  <Organisms::Edulistitem
    @name="Prague University of Economics and Business"
    @startDate="2018"
    @endDate="2021"
  >
    <p class="mb-0">Three-year study of applied informatics.</p>
  </Organisms::Edulistitem>

  <Atoms::Separator />

  <Organisms::Edulistitem
    @name="Střední průmyslová škola na Proseku"
    @startDate="2014"
    @endDate="2018"
  >
    <p class="mb-0">
      Four-year study of information technology and computer science, ended with
      a graduation exam.
    </p>
  </Organisms::Edulistitem>
</div>