<Atoms::Card @hasPadding={{false}}>
  <div class="position-relative">
    <img src="./profile-image.jpg" alt="Michal Moudrý" class="w-100 rounded-top" />
    <h1 class="position-absolute bottom-0 bg-opacity-75 bg-primary bg-gradient text-white w-100 mb-0 py-2 ps-2">
      Michal Moudrý
    </h1>
  </div>

  <div class="p-3">
    <Molecules::Icontext @icon="home" @text="Czechia" />
    <div class="list-group list-group-flush mt-2">
      <a href="https://linkedin.com/in/michal-moudry/" title="Go to the LinkedIn page" class="list-group-item list-group-item-action">
        LinkedIn
      </a>
      <a href="https://github.com/MichalMoudry" title="Go to the GitHub page" class="list-group-item list-group-item-action">
        GitHub
      </a>
      <a href="https://bsky.app/profile/michalmoudry.bsky.social" title="Go to the Bluesky page" class="list-group-item list-group-item-action">
        Bluesky
      </a>
    </div>
  </div>
</Atoms::Card>