@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

h1,
h2,
h3,
.text-xl {
  font-family: 'Hubot Sans', sans-serif;
}

a {
  text-decoration: none;
  color: oklch(70.7% 0.165 254.624);
  transition: 0.4s;
  padding: 3px;
}

.bg-primary-300 {
  background-color: oklch(83.7% 0.128 66.29);
}

.text-primary-300 {
  color: oklch(83.7% 0.128 66.29);
}

@media (hover: hover) {
  a:hover {
    background-color: oklch(95.1% 0.026 236.824);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}
