@tailwind base;
@tailwind components;
@tailwind utilities;

#body-container {
  display: contents;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('/Mona-Sans.woff2') format('woff2 supports variations'),
    url('/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

body {
    text-rendering: optimizeLegibility;
    font-weight: normal;
}

h1,
h2,
h3,
.text-xl {
  font-family: 'Hubot Sans';
}

main {
    max-width: 48rem;
    margin: 0 auto;
}

.button-shadow {
    box-shadow: 0.2rem 0.2rem rgb(134 239 172);
}